/* Шрифты */

@font-face{
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format(".woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format(".woff2");
  font-display: swap;
}

/*Сайт*/

body {
  font-size: 16px;
  line-height: 24px;
  color:black;
  background-color: white;
}

.main-index {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
}
