/* Шрифты */


@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  flex-direction: column;
  display: flex;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.page-container {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  margin: 0 auto;
  width: 1200px;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
}

/* Шапка */
.navigation {
  margin: 0;
  padding: 0 70px;
  width: 1060px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.logo-site {
  max-width: 100%;
  height: auto;
  position: absolute;
}

.nav {
  justify-content: space-between;
  height: 64px;
  padding-left: 168px;
  display: flex;
}

.nav-list {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  align-items: center;
  text-transform: capitalize;
  text-decoration: none;
  margin: 0;
  display: flex;
  list-style-type: none;
  padding: 0;
}

.current-link::after {
  position: absolute;
  content: "";
  top: 43px;
  left: 16px;
  right: 16px;
  bottom: -1px;
  height: 2px;
  background: #756257;
}

.navigation-item {
  position: relative;
}

.navigation-user {
  text-decoration: none;
  justify-content: flex-end;
}

.nav-list-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding: 20px 16px;
}

.navigation-link-user {
  text-decoration: none;
  position: relative;
  min-height: 64px;
  width: 44px;
  height: 64px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.search-icon {
  background-image: url("../images/icon/search.svg");
  display: block;
}

.favourite-icon {
  background-image: url("../images/icon/heart.svg");
  display: block;
  margin-right: 20px;
}

.favourite-number {
  position: absolute;
  left: 20px;
  top: 11px;
  padding: 5px;
  font-weight: 400;
  font-size: 10px;
  font-style: normal;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
  max-width: 50px;
}

/* Основное */
.main-index {
  background-color: #ffffff;
}

.hero {
  background-image: url("../images/curtain.svg"), url("../images/index-background.jpg");
  background-color: #688fa9;
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: contain, cover;
  padding: 51px 0 82px;
}

.logo {
  display: block;
  margin: 0 auto;
}

.advantages-block {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding: 69px 270px;
  margin-bottom: 21px;
}

.advantages-block-welcome {
  margin-top: 3px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding: 64px 270px;
}

.advantages-text {
  margin: 0;
  padding: 103px 85px;
  text-align: center;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
  margin: 0;
  padding: 112px 85px;
  text-align: center;
  box-sizing: content-box;
  flex: flex;
}

.pictures {
  color: #ffffff;
  background-color: #82b3d3;
  display: flex;
  padding: 0;
}

.head-leg {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.search-hotel-number {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

/* Преимущества */
.header-block {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.header-block-two {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.advantages-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.service-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}

.service-item {
  width: 400px;
  height: 385px;
  text-align: center;
  flex: 1;
}

.service-block {
  text-align: center;
  padding: 80px 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  overflow: hidden;
}

.service-block::before {
  content: "";
  background-image: url("../images/icon/house.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  width: 75px;
  height: 72px;
  margin: 0;
}

.food::before {
  background-image: url("../images/icon/food.svg");
}

.souvenire::before {
  background-image: url("../images/icon/gift.svg");
  height: 76px;
  margin-top: -4px;
}

.service-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
}

.description {
  font-family: "PT Sans";
  width: 230px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.description-block {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
}

.description-color {
  color: #333333;
}

.advantages-img {
  display: block;
  object-fit: cover;
  background-color: #82b3d3;
  max-width: 100%;
  height: auto;
}

.advantages-heading {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.advantages-heading::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: -2px;
  left: 86px;
}

.advantages-text .advantages-heading::after {
  background-color: #FFFFFF4D;
}

/* Фильтр каталога */
.head-main {
  background-color: #82b3d3;
  background-image: url("../images/filtr.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 35px 70px 70px;
  margin-bottom: 50px;
  overflow: hidden;
}

.catalog-title {
  text-transform: capitalize;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

.catalog-navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-navigation-item {
  position: relative;
  height: 21px;
}

.catalog-navigation-link-home {
  background-image: url("../images/icon/home.svg");
  width: 15px;
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: center;
  display: block;
  padding-bottom: 19px;
}

.catalog-navigation-link-home:hover,
.catalog-navigation-link-home:focus {
  opacity: 60%;
}

.catalog-navigation-link-home:active {
  opacity: 30%;
}

.catalog-navigation-link-home:disabled {
  opacity: 10%;
}

.catalog-navigation-link {
  background-image: url("../images/icon/arrowright.svg");
  background-repeat: no-repeat;
  background-size: 11px 11px;
  background-position: right 106px center;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: block;
  padding: 0 26px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  height: 160px;
  overflow: hidden;
}

.catalog-filter-checkbox {
  border: none;
  margin: 0 71px 0 0;
  padding: 0;
}

.catalog-filter-radio {
  border: none;
  margin: 0 151px 0 0;
  padding: 0;
}

.catalog-filter-price {
  border: none;
  margin: 0;
  padding: 0;
  width: 288px;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  margin-bottom: 16px;
  height: 23px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
  padding: 0;
  text-transform: capitalize;
}

.filter-input {
  font-size: 18px;
  line-height: 23px;
  width: 20px;
  height: 20px;
}

.catalog-checked {
  background-image: url(../images/icon/checkboxlike.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left 0 center;
}

.catalog-check {
  background-image: url(../images/icon/checkbox.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left 0 center;
}

.catalog-radios {
  background-image: url(../images/icon/radiolike.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left 0 center;
}

.catalog-radio {
  background-image: url(../images/icon/radio.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left 0 center;
}

.filter-label {
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  margin-left: 36px;
}

.catalog-inputs {
  display: flex;
  margin: 0 0 44px;
  padding: 0;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 287px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.range-toggle:not(:disabled):active {
  outline: 3px solid #83B3D3;
  border-radius: 5px;
}

.toggle-min {
  left: 0;
  top: -8px;
}

.toggle-max {
  right: -1px;
  top: -8px;
}

.catalog-filter-label {
  position: relative;
}

.catalog-min {
  display: inline-block;
  border: none;
  width: 103px;
  margin: 0;
  padding: 12px 20px;
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
  background-color: #F2F2F2;
}

.catalog-max {
  display: inline-block;
  border: none;
  width: 103px;
  margin: 0 2px;
  padding: 12px 20px;
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-radius: 0 4px 4px 0;
  background-color: #F2F2F2;
}

.from-to {
  position: absolute;
  left: 105px;
  top: 12px;
  color: #000000;
  opacity: 30%;
  line-height: 24px;
}

.catalog-buttons {
  margin: 0 0 0 auto;
  padding: 0;
  width: 191px;
  height: 104px;
  text-align: center;
}

/* Вывод поиска */
.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-main {
  background-color: #ffffff;
}

.inner-search {
  width: 1060px;
  margin: 0 auto;
}

.found-hotel {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  max-width: 350px;
}

.select-control {
  font-family: inherit;
  width: 292px;
  min-height: 49px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 12px 19px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
  appearance: none;
  background-image: url("../images/icon/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 13px center;
  padding-right: 20px;
  margin-left: auto;
}

.select-control:hover {
  border: 2px solid #68a2ca;
}

.select-control:focus {
  outline: none;
  border: 2px solid #3f5e72;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.display-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 8px;
  max-width: 160px;
  min-height: 48px;
  margin-left: 70px;
}

.display-button {
  display: block;
  width: 44px;
  height: 44px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.display-button:hover {
  border: 2px solid #000000;
}

.display-button:focus-visible {
  border: 2px solid #68a2ca;
}

.display-button:active {
  border: 2px solid #000000;
}

.current-button {
  border: 2px solid #000000;
  background-image: url("../images/icon/table.svg");
}

.view-item {
  background-image: url("../images/icon/item.svg");
}

.view-list {
  background-image: url("../images/icon/list.svg");
}

/* Карточки */
.product {
  margin-bottom: 79px;
  position: relative;
}

.card-container {
  width: 300px;
  margin-top: 16px;
  display: grid;
  grid-template-columns: 140px auto;
  gap: 16px 20px;
  grid-template-areas:
    "title        title"
    "description  price"
    "btn-more     favorites"
    "stars        rating";
}

.type {
  grid-area: description;
  margin: 0;
}

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.product-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  overflow: hidden;
}

.product-img {
  width: 300px;
  height: 212px;
}

.product-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  grid-area: title;
  margin: 0;
}

.product-price {
  margin: 0;
  margin-right: 1px;
  justify-self: end;
}

.product-link-details {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px;
  text-align: center;
  grid-area: btn-more;
}

.product-link-details:hover,
.product-link-details:focus {
  background-color: #615048;
}

.product-link-details:active {
  color: rgba(255, 255, 255, 0.3);
}

.product-link-details:disabled {
  background-color: #e5e5e5;
}

.product-button {
  font-family: "PT Sans";
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  background-color: #82B3D3;
  border-radius: 4px;
  border: 0;
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  grid-area: favorites;
  width: 140px;
}

.product-button:hover,
.product-button:focus {
  background-color: #68a2ca;
}

.product-button:not(:disabled):active {
  color: rgba(255, 255, 255, 0.3);
}

.product-button:disabled {
  background-color: #e5e5e5;
}

.product-button-favorite {
  font-family: "PT Sans";
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  background-color: #7DB54F;
  border-radius: 4px;
  border: 0;
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  grid-area: favorites;
  width: 140px;
}

.product-button-favorite:hover,
.product-button-favorite:focus {
  background-color: #6c9e42;
}

.product-button-favorite:disabled {
  background-color: #e5e5e5;
}

.catalog-hotel-stars {
  background-image: url("../images/icon/star.svg");
  background-repeat: space no-repeat;
  background-size: 18px 17px;
  background-position: center;
  margin: 0;
  grid-area: stars;
}

.one-stars {
  width: 35px;
}

.two-stars {
  width: 42px;
}

.tree-stars {
  width: 66px;
}

.four-stars {
  width: 89px;
}

.five-stars {
  width: 105px;
}

.catalog-hotel-raiting {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  padding: 8px 22.5px;
  border-radius: 4px;
  grid-area: rating;
  margin: 0;
  width: 95px;
}

/* Заинтересовались */
.interested {
  padding: 96px 304px;
  text-align: center;
}

/* Подписка */
.sub-img {
  background-color: #83B3D333;
  background-image: url("../images/subscribe.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.subscribe {
  padding: 96px 258px 104px;
  text-align: center;
}

.subscribe-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-field {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding: 12px 20px;
  width: 412px;
  max-height: 52px;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: none;
}

.subscribe-frm {
  display: flex;
  width: 684px;
}

.subscribe .description-block {
  margin-bottom: 54px;
}

/*Пагинация*/
.pagination-block {
  margin-bottom: 61px;
}

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.pagination-item {
  min-width: 60px;
  text-align: center;
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
  text-decoration: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: block;
  padding: 12px 10px;
  text-align: center;
}

.pagination-link {
  text-decoration: none;
  background: #82b3d3;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  display: block;
  padding: 12px 10px;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-next {
  background-color: transparent;
  color: #000000;
  text-decoration: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: block;
  padding: 12px 10px;
  text-align: center;
}

.pagination-link-next:hover,
.pagination-link-next:focus {
  background-color: #f2f2f2;
}

.pagination-link-next:active {
  color: #000000;
  background-color: #e6e6e6;
}

/* Подвал */
.main-footer {
  width: 1200px;
  padding: 0;
  background-color: #ffffff;
}

.social-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 50px;
  padding: 40px 70px 30px 70px;
  margin: 0;
}

/* Иконки */
.social-list {
  display: flex;
  min-height: 40px;
  width: 144px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
  flex-wrap: wrap;
}

.social-list img {
  width: 47px;
  height: 40px;
}

.social-item {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  width: 28px;
  height: auto;
}

.footer-social {
  fill: #83b3d3;
}

.footer-social:hover,
.footer-social:focus {
  fill: #68a2ca;
}

.footer-social:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contact-number {   /* Номер */
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 331px;
  padding: 0 194px;
}

.number-num {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.footer-number {
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

/*Логотип html academy*/
.contact-logo {
  fill: #000000;
  display: block;
}

.contact-logo:hover,
.contact-logo:focus {
  fill: #756157;
}

.contact-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}

/* Цветные боксы */
.blue {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.light-blue {
  background-color: #83B3D333;
}

/* Невидимые фрагменты */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Остальные кнопки */
.button-search {
  text-align: center;
  background: #756157;
  border-radius: 4px;
  padding: 8px 50px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin: 54px auto 0;
  width: 276px;
}

.button-search:hover,
.button-search:focus {
  background-color: #615048;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-search:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

.button-desired {
  text-align: center;
  font-family: "PT Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background: #756157;
  color: #ffffff;
  padding: 8px 34px;
  border: none;
  text-decoration: none;
  border-radius: 4px;
}

.button-desired:hover,
.button-desired:focus {
  background-color: #615048;
}

.button-desired:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-desired:disabled {
  background-color: #e5e5e5;
}

.subscribe-button {
  text-align: center;
  font-family: "PT Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  width: 232px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 36px;
  padding: 8px 50px;
  color: #fff;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  margin: 0;
  border: none;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #68a2ca;
}

.subscribe-button:not(:disabled):active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button:disabled {
  background-color: #e5e5e5;
}

.catalog-submit {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  font-style: normal;
  text-transform: uppercase;
  margin: 56px 0 32px 0;
  padding: 8px 50px;
  color: #fff;
  background-color: #82B3D3;
  border-radius: 4px;
  border: 0;
}

.catalog-submit:hover,
.catalog-submit:focus {
  background-color: #68a2ca;
}

.catalog-submit:not(:disabled):active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-submit:disabled {
  background-color: #e5e5e5;
}

.catalog-reset {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  font-style: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 8px 50px;
  border: 0;
  color: #fff;
  background-color: rgba(131, 179, 211, 0);
}

.catalog-reset:not(:disabled):hover {
  color: rgba(255, 255, 255, 0.6);
}

.catalog-reset:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.catalog-reset:not(:disabled):active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-reset:disabled {
  opacity: 10%;
}

/* Модальное окно */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
}

.modal-auth {
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  display: flex;
}

.modal-close-button {
  background-image: url("../images/icon/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
  border: none;
  right: 52px;
  top: 64px;
  padding: 0;
}

.modal-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 64px;
}

.date-table {
  display: flex;
  width: 577px;
  flex-direction: column;
  flex-wrap: wrap;
}

.field-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 137px;
}

.search-button {
  font-family: inherit;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  background: #82b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  width: 577px;
  min-height: 60px;
  padding: 18px 15px;
  border-radius: 10px;
}

.search-button:hover,
.search-button:focus {
  background-color: #68a2ca;
}

.search-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.calendar {
  width: 400px;
  padding: 12px 20px 12px 20px;
  margin-bottom: 4px;
  border: none;
  background-color: #f2f2f2;
  font-family: inherit;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-image: url("../images/icon/date.svg");
  background-repeat: no-repeat;
  background-position: top 15px right 22px;
  background-size: 20px 20px;
}

.calendar:hover,
.calendar:focus {
  background-color: #e6e6e6;
}

.date-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: min-content min-content;
  align-items: center;
  margin-bottom: 23px;
}

.date-info {
  margin: 0;
  padding-left: 20px;
  grid-column: 2;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.attention {
  color: #ff5757;
}

.people-number {
  width: 11px;
  height: 20px;
  padding: 14px 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans";
  font-style: normal;
  border: none;
  background-color: #f2f2f2;
  text-align: center;
  appearance: textfield;
}

.people-number::-webkit-inner-spin-button,
.people-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-button {
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 14px 10px;
  background-color: #f2f2f2;
}

.less,
.more {
  fill: #756157;
  fill-opacity: 0.3;
}

.less:hover,
.less:focus,
.more:hover,
.more:focus {
  fill: #000000;
  fill-opacity: 1;
}

.less:active,
.more:active {
  fill: #756157;
  fill-opacity: 0.3;
}

.button-wrapper {
  display: flex;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.number-wrapper {
  display: flex;
  margin-bottom: 48px;
  align-items: center;
  justify-content: space-between;
}

.visitors {
  display: flex;
  align-items: center;
}

.form-label {
  display: flex;
  align-items: center;
  width: 86px;
  margin-right: 46px;
}

.tooltip {
  position: relative;
}

.button-tooltip {
  border: none;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #83b3d3;
  display: block;
  background-image: url("../images/icon/info-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.tooltip-text {
  width: 216px;
  height: 110px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #ffffff;
  padding: 21px 18px 12px 22px;
  position: absolute;
  top: 40px;
  left: -115px;
  z-index: 1;
  display: none;
}

.tooltip-text::after {
  content: "";
  background-image: url("../images/icon/info.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.button-tooltip:hover + .tooltip-text,
.button-tooltip:focus + .tooltip-text {
  display: block;
}
