/* Шрифты */

@font-face{
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format(".woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format(".woff2");
  font-display: swap;
}

/* Сайт */

body {
  font-size: 18px;
  line-height: 21px;
  color:black;
  background-color: white;
}

/* Header */

header{
  color:black;
  background: white;
}

.nav{
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color:black;
  background: white;
  text-transform: capitalize;
}

/* Main */

.main-index {
  color:black;
  background-color: white;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* Advantages */

.advantages-list {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
